.qrContainer {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4rem;
  width: 80%;
  min-height: 28rem;
  z-index: 30;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: fadeIn 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.qrContainer > button {
  position: absolute;
  top: 1rem;
  right: 2rem;
  border: 0;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  transition: all 0.3ms ease-in-out;
}

.qrContainer > button:hover {
  cursor: pointer;
}

.closeIcon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.qrBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 17rem;
}

.qrBox > img {
  width: 18rem;
  height: 100%;
  object-fit: cover;
}

.qrTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.qrTextContainer > p {
  font-weight: 700;
  color: #2f88ff;
}

.qrTextContainer > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 2rem;
  border: 2px solid #0b0b0b;
  border-radius: 2rem;
  background-color: transparent;
  gap: 0.5rem;
  transition: all 0.3ms ease-in-out;
}

.qrTextContainer > button:hover {
  cursor: pointer;
  background-color: #2f89ff6e;
  color: #f0ffff;
}

.qrTextContainer > button > p {
  font-weight: 700;
}

.copyIcon {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}

/* tablet */
@media screen and (min-width: 541px) and (max-width: 768px) {
  .qrContainer {
    width: 50%;
  }

  .qrBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 17rem;
  }
}

/* laptop */
@media screen and (min-width: 769px) {
  .qrContainer {
    width: 40%;
  }

  .qrBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 17rem;
  }
}
