.playlistDetailContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  margin: 1.3rem auto;
  gap: 0.8rem;
}

.playlistDetailTitle {
  color: #fff;
}

.playlistDetailVideo {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 95px;
}

.playlistDetailVideoThumbnail {
  position: relative;
  width: 10rem;
  height: 100%;
  border-radius: 0.7rem;
  background-color: transparent;
}

.videoThumbnailImg {
  width: 10rem;
  height: 100%;
  object-fit: cover;
  border-radius: 0.7rem;
}

.playListDetailDurationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: #fff;
  background-color: rgba(34, 34, 34, 0.298);
  width: 6rem;
  padding: 0.3rem;
}

.playlistDetailInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  margin-left: 0.4rem;
  gap: 0.3rem;
  font-weight: 700;
}

.playlistDetailVideoTitle {
  color: #fff;
  font-size: 0.9rem;
}

.playlistDetailAuthorTitle {
  color: #ccc;
  font-size: 0.7rem;
}

.playlistDetailStatsContainer {
  display: flex;
  flex-direction: row;
  font-size: 0.6rem;
  color: #ccc;
}

/* tablet mini */
@media screen and (min-width: 541px) and (max-width: 768px) {
  .playlistDetailTitle {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .playlistDetailVideo {
    margin-left: 2rem;
  }
}

/* tablet */
@media screen and (min-width: 769px) and (max-width: 912px) {
  .playlistDetailTitle {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .playlistDetailVideo {
    margin-left: 2rem;
  }
}

/* laptop */
@media screen and (min-width: 913px) {
  .playlistDetailContainer {
    width: 60%;
  }
}
