* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: #0f0f0f;
}

a {
  color: inherit;
  text-decoration: none;
}

/*Webkit(Chrome, Android browser, Safari, Edge...)*/
body::-webkit-scrollbar {
  display: none;
}
