.roomListContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  margin: 1.3rem auto;
  gap: 0.8rem;
}

.roomListTitle {
  color: #f0ffff;
}

.clearAllVideosButton {
  position: absolute;
  top: 0;
  right: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #ff0000;
  border-radius: 1rem;
  background-color: transparent;
  gap: 0.5rem;
  transition: all 0.3ms ease-in-out;
}

.clearAllVideosButton:hover {
  cursor: pointer;
  background-color: #f0ffff58;
}

.clearAllVideosButton > small {
  color: #f0ffff;
  font-weight: 700;
}

.clearAllVideosButton > img {
  width: 1.4rem;
  height: 1.4rem;
  object-fit: cover;
}

.roomListVideo {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 120px;
  margin-top: 1.3rem;
  transition: all 0.3ms ease-in-out;
}

.roomVideoThumbnail {
  position: relative;
  width: 10rem;
  height: 100%;
  border-radius: 0.7rem;
  background-color: transparent;
}

.roomThumbnailButton {
  width: 10rem;
  height: 100%;
  border-radius: 0.7rem;
  background-color: transparent;
  border: 0;
  transition: all 0.3ms ease-in-out;
}

.roomThumbnailButton:hover {
  cursor: pointer;
  background-color: #cccccc4c;
}

.roomThumbnailImg {
  width: 10rem;
  height: 100%;
  object-fit: cover;
  border-radius: 0.7rem;
}

.videoListDurationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: #fff;
  background-color: rgba(34, 34, 34, 0.298);
  width: 6rem;
  padding: 0.3rem;
}

.roomVideoInfoContainer {
  position: relative;
  margin-left: 0.2rem;
}

.roomVideoListTitle {
  color: #fff;
  font-size: 0.9rem;
}

.roomListAuthorTitle {
  color: #ccc;
  font-size: 0.7rem;
}

.roomListVideo > button {
  position: absolute;
  bottom: 1rem;
  right: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border: 2px solid #ff0000;
  border-radius: 1rem;
  background-color: transparent;
  transition: all 0.3ms ease-in-out;
}

.roomListVideo > button:hover {
  cursor: pointer;
  background-color: #f0ffff58;
}

.roomListVideo > button > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* tablet mini */
@media screen and (min-width: 541px) and (max-width: 768px) {
  .roomListTitle {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .clearAllVideosButton {
    top: 2.9rem;
    right: 5rem;
  }

  .roomListVideo {
    margin-left: 2rem;
  }

  .roomListVideo > button {
    bottom: 1.5rem;
    right: 17rem;
  }
}

/* tablet */
@media screen and (min-width: 769px) and (max-width: 912px) {
  .roomListTitle {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .clearAllVideosButton {
    top: 3.1rem;
    right: 5rem;
  }

  .roomListVideo {
    margin-left: 2rem;
  }

  .roomListVideo > button {
    bottom: 1.5rem;
    right: 17rem;
  }
}

/* laptop */
@media screen and (min-width: 913px) {
  .roomListContainer {
    width: 70%;
  }

  .roomListVideo > button {
    bottom: 0.8rem;
    right: 0.2rem;
  }
}
