.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 100%;
  margin-bottom: 1rem;
}

.searchContainer:nth-child(2) {
  order: +1;
}

.searchInput {
  width: 17rem;
  height: 1.2rem;
  padding: 1.2rem;
  border-radius: 3rem;
  background-color: transparent;
  border: 1px solid #ccc;
  outline-color: #173a65;
  color: #fff;
}

.searchInput::placeholder {
  color: #aaa;
  font-weight: 700;
}

.searchButton {
  display: none;
  width: 0.7rem;
  height: 1.2rem;
  padding: 1.2rem;
  background-color: #222222;
  border: 0.1px solid #aaa;
  border-radius: 0 3rem 3rem 0;
  color: #ccc;
}

.searchIcon {
  width: 1.6rem;
  height: 1.6rem;
}

.searchButton:hover {
  cursor: pointer;
}

/* tablet */
@media screen and (min-width: 541px) and (max-width: 768px) {
  .searchContainer:nth-child(2) {
    order: 0;
    margin-bottom: 0;
    min-width: 50%;
  }

  .searchInput {
    width: 17rem;
    border-radius: 3rem 0 0 3rem;
  }

  .searchButton {
    display: flex;
  }
}

/* laptop */
@media screen and (min-width: 769px) {
  .searchContainer:nth-child(2) {
    order: 0;
    margin-bottom: 0;
    min-width: 50%;
  }

  .searchInput {
    width: 22rem;
    border-radius: 3rem 0 0 3rem;
  }

  .searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
